<h1>Blog Entries</h1>
<hr style="width:100%">
<% @blogs.each do |blog| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= link_to blog.title, display_blog_path(blog) %></div>
      <div class="panel-body">
      	<p class="small">Created <%= time_ago_in_words(blog.created_at) %> ago</p>
      	<p><%= blog.body %></p>
      </div>
     </div>	
<% end %>