<h1>This Is Admin!</h1>

	        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Versions
                </h3>
            </div>

            <div class="panel-body">
            <div class="row">
                <div>
                    Ruby version: <%= RUBY_VERSION %><br/>
                    Rails version: <%= Rails.version %>
                </div>
            </div>                    
            </div>

        </div>