<div class="fields">
      <%= f.label :image_url %><br>
      <%= f.text_field :image_url, class: "form-control" %>
	  <%= link_to_remove_fields "<i aria-hidden='false' class='glyphicon glyphicon-trash'></i>", f %>
</div>     