<div class="row fields">
  <div class="col-md-11 col-xs-12 field">
      <%= f.text_field :image_url,  class: "form-control" %>    
  </div>
  <div class="col-md-1 col-xs-12 field">
    <%= link_to_remove_fields "", f %>
  </div>  
</div> 