
<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-12">
	<h1>Recipe</h1>
	<hr style="width:100%">

<%= render 'form' %>
<hr style="width:100%">
<%= link_to 'Categories', recipe_categories_path, class: "btn btn-default  pull-left" %>
<%= link_to 'Ingredients', recipe_ingredients_path, class: "btn btn-default  pull-left" %>
<%= link_to 'Units', recipe_ingredients_units_path, class: "btn btn-default  pull-left" %>
</div>
</div>