<td>
  <%= link_to user.name, edit_user_registration_path(user) %>
</td>
<td>
  <%= user.email %><br/><%= user.id %>
</td>
<td>
<!--  -->
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary button-xs') unless user == current_user %>
</td>
