<div ng-controller="ctlrComment">
  <form ng-class="form" ng-submit="postReply(utf8,authenticity_token,blog_id,body)">
    <form name="newBlogComment" novalidate="novalidate" onsubmit="return false;" class="new_blog_comment" id="new_blog_comment" action="/blogs/1/blog_comments" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="qV3Q7MoJslQatGoSNUx6HCJwV9zsSZHznmqSoVyZpm7t86IuzD6fsUZbobZ8iGoEzik5SliU+VzB6Bf7skA3qA==" />
      	<div class="input-group">
          	<textarea placeholder="Post a Comment" class="form-control" html="ng-model=&#39;body&#39;" name="blog_comment[body]" id="blog_comment_body">
            </textarea>
      		  <span class="input-group-btn">
              <input value="1" html="ng-model=&#39;blog_id&#39;" type="hidden" name="blog_comment[blog_id]" id="blog_comment_blog_id" />
      			 <input type="submit" name="commit" value="Post" class="btn btn-default text-area-input-btn" style="height:100% !important;border:none;" />
      		  </span>	      	
        </div>
    </form>
</div>

<!-- Contact Section -->

    <div ng-controller="ctlrContact">  
    <form ng-class="form" ng-submit="sendEmail(email_name,email_address,email_message)">  
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="contactName" name="email_name" class="form-control" placeholder="Name" required="required" ng-model="email_name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="contactEmail" name="email_address" class="form-control" placeholder="Email" required="required" ng-model="email_address">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="email_message" id="contactMessage" class="form-control" rows="4" placeholder="Message" required ng-model="email_message"></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>
