// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog-display ul {
	margin-left: 3em;
}

#blog-display .text-area-input-btn {
  height:auto !important;
  margin: 0;
}