html, body {
  height: 100%;
}

main {
  // @extend .container;
  padding-bottom: 80px;
  width: 100%;
  min-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:30px;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 50px auto -100px;  
  }

section {
  // @extend .row;
  margin-top: 20px;
  }

footer {
  position: relative;
  height: 50px;
  clear:both;
  color: #666;
  padding-left: 2em;
  background: transparent;
  border-top: 1px solid #666;
} 

.top10 { margin-top: 10px; }
.top20 { margin-top: 20px; }
.top30 { margin-top: 30px; }
.top50 { margin-top: 50px; }
.top100 { margin-top: 100px; }

#error_explanation h2 {
  font-size: 16px;
}

.alert {
  z-index: 1050;
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}


/* Serif font */
body, 
#main-title,
.mainText,
.article p,
.article-title h1,
.article-title h2,
.hentry .article-date,
.article-extras strong,
.article-entry h3,
.article-entry blockquote,
.article-entry cite,
.comment-text h3,
.comment-text blockquote,
.comment-text cite,
.more-posts .page-title,
.more-posts .notice,
#more-posts-inner h1,
#more-posts-inner article span,
#comments h3,
#respond h3,
#upper-footer-widgets .widget_text,
#error404 {
  font-family: "Times New Roman", Georgia, Serif;
  color: #333;
  font-size: 16px;
}

body, html {
  /*padding-top: 40px;*/
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100% !important;
  height: 100% !important;
}

.mainText {
  font-size: 18px;
  color: #ccc;
}


.navbar-inner {
  /*background: asset-url("linebk.gif", image) repeat left top;*/
  background-color: #999;
  }

.nav > li > a {
    color: #66CCFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: none !important;
    font-family: verdana, serif;
}

.nav > li > a:link {
    color: #66CCFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
}

.nav > li > a:visited {
    color: #66CCFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
}

.nav > li > a:active {
    color: #66CCFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #CC33FF !important;
    text-decoration: underline;
    float: none;
    padding: 10px 15px;
    background-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border: none;  
}

.navbar {
  margin-bottom: 0;
  width: 100%;
}

/* Navigation */
.navbar-custom {
  padding: 0;
  border-bottom: 0;
  letter-spacing: 1px;
  background: #333;
  text-transform: uppercase;
}
.navbar-custom .navbar-brand {
  font-weight: 600;
}
.navbar-custom .navbar-brand i.fa {
  color: #26B4E7;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-toggle {
  color: #eee;
  font-size: 18px;
  border-radius: 2px;
  padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #26B4E7;
  color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #26B4E7;
  background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #26B4E7;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
  color: #fff;
}

.panel-body {
  color: #000009;
}
.rightCol {
  margin-right: 50px;
  width: 90%;
}

.topCol {
  margin-top: 1em;
}

.form-group {
  margin-bottom: 5px;
}

.modal-header {
  min-height: 0;
  color: #666;
}

.modal-footer {
  padding: 5px;
}

.modal-dialog {
    width: 800px;
    color: #666;
}

#myModalLabel {
  margin: 0;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

/* -------------------------------------------------- */
@media (max-width: 400px) {
  /* phone size */
    /* Navbar positioning */
    .navbar-wrapper {
      margin-top: 20px;
    }
    .navbar-wrapper .container {
      padding-right: 15px;
      padding-left: 15px;
    }
    .navbar-wrapper .navbar {
      padding-right: 0;
      padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
      border-radius: 4px;
    }
   
    .navbar-lower {
      margin-top: 100px;
    }  

  .navbar-brand img {
    height: auto;
    width: 100%;
    max-width: 200px;
  }

}

/* Footer Section*/
#footer {
  background: #333;
  color: #777;
  padding: 20px 0;
  text-align: center;
}
#footer a {
  color: #999999;
}
#footer a:hover, a:focus {
  color: #26B4E7;
}
#footer p {
  font-size: 13px;
  margin-top: 10px;
}


.isotope-item {
  z-index: 2
}
.isotope-hidden.isotope-item {
  z-index: 1
}
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.no-bottom-margin {
  margin-bottom: 0;
}

