<% if notice.present? %>
<aside class="alert alert-info alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true" aria-label="Close"><i aria-hidden="false" class="glyphicon glyphicon-remove-circle"></i></button>
<%= notice %>
</aside>
<% end %>
<% if alert.present? %>
<aside class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" aria-hidden="true" data-dismiss="alert" aria-label="Close"><i aria-hidden="false" class="glyphicon glyphicon-remove-circle"></i></button>
<%= alert %>
</aside>
<% end %>